.parent{
    background-image: url(images/download.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    margin: 0 auto;
    height: 350px;
}
.child{
    text-align: center;
    color: white;
    
    
}
h1{ 
    padding: 10px 0 0 0;
}
#aa{
    color: chartreuse;
    text-align: center;
}
p{
    
}